body 
{ 
    font-family: sans-serif; 
    padding: 2em;
}

label 
{ 
    display: block; 
    margin-top: 1em; 
}
        
input, select 
{
    width: 200px; 
    padding: 0.5em; 
}

button
{ 
    margin-top: 1em; 
    padding: 0.5em 1em; 
}
li{
    list-style: none;
}